<html> 
    <head>
        <link rel="stylesheet" href="assets/estilo.css" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>    
    <body>
        <section>
            <h1>Criar Usuario</h1>
            <div class="Formulario">
                <form method="POST">
                    <div class="cadastramento">
                        <label for="criar usuario">Criar nome de Usuario</label>
                        <input type="text" name="criar usuario" required/>
                    </div>
                    <div class="cadastramento">
                        <label for="criar senha">Criar Senha</label>
                        <input type="password" name="criar senha" min="6" required/>
                    </div>
                    <div class="cadastramento">
                        <label for="cadastrar numero USP">Cadastrar Numero USP</label>
                        <input type="number" name="cadastrar numero USP"/>
                    </div> 
                    <div class="cadastramento">
                        <label for="cadastrar email">Cadastrar Email</label>
                        <input type="email" name="cadastrar email"/>
                    </div>
                    <div>
                        <button type="submit" class="Botao">Cadastrar</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>