<html>
    <head>
    <link rel="stylesheet" href="assets/estilo.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <section>
            <h1>Entrar</h1>
            <div class="Formulario">
                <form method="POST">
                    <div class="cadastramento">
                        <label for="entrar">Numero USP</label>
                        <input type="text" name="usuario" required />
                    </div>
                    <div class="cadastramento">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" required />
                    </div>
                    <div>
                        <button type="submit" class="Botao">Entrar</button>
                    </div>
                    <div>
                        <a href="cadastro.html"><button type="submit" class="Botao">Criar Usuario</button></a>
                    </div>
                </form>    
            </div>
        </section>
    </body>
</html>