{% extends "layouts/base-site.html" %}

{% block title %} Adicionar Consulta {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-lg-12">
            <form class="card" method="POST">
                <div class="card-body">
                    <h3 class="card-title">
                        <div class="col-md-5" style="padding-left: 0px">Código LIF: <strong>{{consulta.atendimento.codigo_lif}}</strong> </div>
                        <div class="col-md-5" style="padding-left: 0px">Paciente: <strong>{{consulta.atendimento.paciente}}</strong> </div>
                        <div class="col-md-5" style="padding-left: 0px">Data nascimento: <strong>{{consulta.atendimento.paciente.data_nascimento}}</strong></div>
                        <div class="col-md-5" style="padding-left: 0px">Sexo: <strong>{{consulta.atendimento.paciente.sexo}}</strong></div>
                        <div class="col-md-5" style="padding-left: 0px">Procedimento: <strong>{{consulta.procedimento}}</strong></div>
                    </h3>

                    <h3 class="card-title" style="text-align: center;"><strong>Consulta</strong></h3>

                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label class="form-label">Data consulta</label>
                        {% render_field form.data_consulta class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Observação</label>
                        {% render_field form.observacao class="form-control" required=false%}
                    </div>

                    {% if errors %}
                        <div class="alert alert-danger"> {{ errors }} </div>
                    {% endif %}
                </div>

                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>Laudo</strong></h3>
                    {% if laudos is null %}
                        <h3 class="card-title" style="text-align: center;">
                            <strong>
                                {% if procedimento.sigla == 'BERA' %}
                                    <a style="color: white"  href={% url 'new_consulta_bera' consulta.id %} class="btn btn-primary">Inserir Laudo</a>
                                {% elif procedimento.sigla == 'AUDI' %}
                                    <a style="color: white"  href={% url 'new_consulta_audi' consulta.id %} class="btn btn-primary">Inserir Laudo</a>
                                {% elif procedimento.sigla == 'PAC' %}
                                    <a style="color: white"  href={% url 'new_consulta_pac' consulta.id %} class="btn btn-primary">Inserir Laudo</a>
                                {% endif %}
                            </strong>
                        </h3>
                    {% else %}
                        {% if procedimento.sigla == 'BERA' %}
                            {% for laudo in laudos %}
                                <div class="col-lg-12">
                                    <table class="table table-hover table-striped">
                                        <colgroup>
                                            <col>
                                            <col span="2" style="background-color:rgba(0, 0, 0, 0.02);">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th colspan="2" style="text-align: center;"><h3>Esquerda</h3></th>
                                                <th colspan="2" style="text-align: center;"><h3>Direita</h3></th>
                                            </tr>
                                            <tr>
                                                <th>Picos</th>
                                                <th style="text-align: center;">Latências Abso.</th>
                                                <th style="text-align: center;">Inter-latências</th>
            
                                                <th style="text-align: center;">Latências Abso.</th>
                                                <th style="text-align: center;">Inter-latências</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>I</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_latencia_abosoluta_I}}</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_inter_latencias_I}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_latencia_abosoluta_I}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_inter_latencias_I}}</td>
                                            </tr>
                                            <tr>
                                                <td>III</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_latencia_abosoluta_III}}</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_inter_latencias_III}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_latencia_abosoluta_III}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_inter_latencias_III}}</td>
                                            </tr>
                                            <tr>
                                                <td>V</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_latencia_abosoluta_V}}</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_inter_latencias_V}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_latencia_abosoluta_V}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_inter_latencias_V}}</td>
                                            </tr>
                                            <tr>
                                                <td>Intepicos</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_latencia_abosoluta_interpicos}}</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_inter_latencias_interpicos}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_latencia_abosoluta_interpicos}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_inter_latencias_interpicos}}</td>
                                            </tr>
                                            <tr>
                                                <td>I-III</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_latencia_abosoluta_I_III}}</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_inter_latencias_I_III}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_latencia_abosoluta_I_III}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_inter_latencias_I_III}}</td>
                                            </tr>
                                            <tr>
                                                <td>I-V</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_latencia_abosoluta_I_V}}</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_inter_latencias_I_V}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_latencia_abosoluta_I_V}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_inter_latencias_I_V}}</td>
                                            </tr>
                                            <tr>
                                                <td>III-V</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_latencia_abosoluta_III_V}}</td>
                                                <td style="text-align: center;">{{laudo.esquerdo_picos_inter_latencias_III_V}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_latencia_abosoluta_III_V}}</td>
                                                <td style="text-align: center;">{{laudo.direito_picos_inter_latencias_III_V}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <section>
                                        <!-- <strong>Evolução:</strong><br> -->
                                        <h3 class="card-title"><strong>Evolução:</strong></h3>
                                        {{laudo.evolucao}}
                                    </section>
                                    <br>
                                    <section>
                                        <!-- <strong>Conclusão:</strong><br> -->
                                        <h3 class="card-title"><strong>Conclusão:</strong></h3>
                                        {{laudo.conclusao_exame}}
                                    </section>
                                    <h3 class="card-title" style="text-align: center; color:white">
                                        <a href={% url 'update_bera' laudo.id %} class="btn btn-primary">Editar laudo</a>
                                    </h3>
                                    
                                </div>
                            {% endfor %}
                        {% elif procedimento.sigla == 'PAC' %}
                            {% for laudo in laudos %}
                                <div class="col-lg-12">
                                    <table class="table table-hover table-striped">
                                        <colgroup>
                                            <col>
                                            <col style="background-color:rgba(0, 0, 0, 0.02);">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Picos</th>
                                                <th style="text-align: center;"><h3>Esquerda</h3></th>
                                                <th style="text-align: center;"><h3>Direita</h3></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>P300</td>
                                                <td>{{laudo.esquerdo_picos_P300}}</td>
                                                <td>{{laudo.direito_picos_P300}}</td>
                                            </tr>
                                            <tr>
                                                <td>P1</td>
                                                <td>{{laudo.esquerdo_picos_P1}}</td>
                                                <td>{{laudo.direito_picos_P1}}</td>
                                            </tr>
                                            <tr>
                                                <td>N1</td>
                                                <td>{{laudo.esquerdo_picos_N1}}</td>
                                                <td>{{laudo.direito_picos_N1}}</td>
                                            </tr>
                                            <tr>
                                                <td>P2</td>
                                                <td>{{laudo.esquerdo_picos_P2}}</td>
                                                <td>{{laudo.direito_picos_P2}}</td>
                                            </tr>
                                            <tr>
                                                <td>N2</td>
                                                <td>{{laudo.esquerdo_picos_N2}}</td>
                                                <td>{{laudo.direito_picos_N2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <section>
                                        <!-- <strong>Evolução:</strong><br> -->
                                        <h3 class="card-title"><strong>Evolução:</strong></h3>
                                        {{laudo.evolucao}}
                                    </section>
                                    <br>
                                    <section>
                                        <!-- <strong>Conclusão:</strong><br> -->
                                        <h3 class="card-title"><strong>Conclusão:</strong></h3>
                                        {{laudo.conclusao_exame}}
                                    </section>
                                    <h3 class="card-title" style="text-align: center; color:white">
                                        <a href={% url 'update_pac' laudo.id %} class="btn btn-primary">Editar laudo</a>
                                    </h3>
                                </div>
                            {% endfor %}
                        {% elif procedimento.sigla == 'AUDI' %}
                            
                        {% endif %}
                    {% endif %}
                </div>


                <div class="card-footer text-center">
                    <a href={% url 'index_consultas' %} class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-success">Atualizar</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
<script prefer>
    $(function(){
        console.log('zqui')
    })
</script>