{% extends "layouts/base-site.html" %}

{% block title %} Listagem de Procedimentos {% endblock %}

{% block content %}

<div class="my-3 my-md-5">

    <div class="container">

        <div class="card">
            <div class="card-header">
                <div class="col-lg order-lg-first">
                    <h1 class="card-title">
                        Listagem de Procedimentos
                    </h1>
                </div>
                {% if perms.app.add_procedimento %}
                    <a href="{% url 'new_procedimento' %}" class="btn btn-success"><span class="fa fa-plus"></span> Adicionar novo procedimento</a>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sigla</th>
                            <th>Nome</th>
                            <th>Tipo de laudo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for procedimento in procedimentos %}
                        <tr style="height: 10px">
                            <td> {{ procedimento.id }} </td>
                            <td> {{ procedimento.sigla }} </td>
                            <td> {{ procedimento.nome_procedimento }} </td>
                            <td> {{ procedimento.tipo_laudo }} </td>
                            <td align="right">
                                {% if perms.app.change_procedimento %}
                                    <a href="{% url 'update_procedimento' procedimento.id %}" class="btn btn-primary">Editar</a>
                                {% endif %}
                                {% if perms.app.delete_procedimento %}
                                    <a href="{% url 'delete_procedimento' procedimento.id %}" class="btn btn-danger">Deletar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
