{% extends "layouts/base-site.html" %}

{% block title %} Listagem de CID's {% endblock %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="col-lg order-lg-first">
                    <h1 class="card-title">
                        Listagem de CID's
                    </h1>
                </div>
                <a href="{% url 'new_cid' %}" class="btn btn-success"><span class="fa fa-plus"></span> Adicionar novo cid</a>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código do CID</th>
                            <th>Nome</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cid in cids %}
                        <tr style="height: 10px">
                            <td> {{ cid.id }} </td>
                            <td> {{ cid.codigo_cid }} </td>
                            <td> {{ cid.nome_cid }} </td>
                            <td align="right">
                                <a href="{% url 'update_cid' cid.id %}" class="btn btn-primary">Visualizar</a>
                                <a href="{% url 'delete_cid' cid.id %}" class="btn btn-danger">Deletar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
