{% extends "layouts/base-site.html" %}

{% block title %} Editar LIF {% endblock %}

{% block content %}

{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-lg-12">
            <form class="card" method="POST">
                <div class="card-body">
                    <h3 class="card-title">Atualizar LIF</h3>

                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label class="form-label">Nome</label>
                        {% render_field form.nome_lif class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Código do LIF atual</label>
                        {% render_field form.codigo_lif_atual class="form-control" %}
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href={% url 'index_lifs' %} class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-success">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
