{% extends "layouts/base-site.html" %}

{% block title %} Listagem de Lif's {% endblock %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="col-lg order-lg-first">
                    <h1 class="card-title">
                        Listagem de Lif's
                    </h1>
                </div>
                <a href="{% url 'new_lif' %}" class="btn btn-success"><span class="fa fa-plus"></span> Adicionar novo lif</a>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Código do LIF atual</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lif in lifs %}
                        <tr style="height: 10px">
                            <td> {{ lif.id }} </td>
                            <td> {{ lif.nome_lif }} </td>
                            <td> {{ lif.codigo_lif_atual }} </td>
                            <td align="right">
                                <a href="{% url 'update_lif' lif.id %}" class="btn btn-primary">Visualizar</a>
                                <a href="{% url 'delete_lif' lif.id %}" class="btn btn-danger">Deletar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
