{% extends "layouts/base-site.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="col-lg order-lg-first">
                    <h1 class="card-title">
                        Listagem de Consultas
                    </h1>
                </div>
                <!-- <a href={% url 'new_atendimento' %} class="btn btn-success"><span class="fa fa-plus"></span> Adicionar novo atendimento</a> -->
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Data consulta</th>
                            <th>Protocolo</th>
                            <th>Paciente</th>
                            <th>Procedimento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consulta in consultas %}
                        <tr style="height: 10px">
                            <td> {{ consulta.id }} </td>
                            <td> {{ consulta.data_consulta }} </td>
                            <td> {{ consulta.atendimento.codigo_lif }} </td>
                            <td> {{ consulta.atendimento.paciente }} </td>
                            <td> {{ consulta.procedimento }} </td>
                            <td align="center"> 
                                <a href={% url 'update_consulta' consulta.id %} class="btn btn-primary">Visualizar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script>
                    require(['datatables', 'jquery'], function (datatable, $) {
                        $('.datatable').DataTable();
                    });
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    require(['jquery'], function () {
        $(document).ready(function () {

            function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }

            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            if (!getCookie('bottombar-hidden')) {
                $('.js-bottombar').show();
            }

            $('.js-bottombar-close').on('click', function (e) {
                $('.js-bottombar').hide();
                setCookie('bottombar-hidden', 1, 7);

                e.preventDefault();
                return false;
            });
        });
    });
</script>

{% endblock javascripts %}