{% extends "layouts/base-site.html" %}

{% block title %} Detalhes da Consulta {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-lg-12" style="display: inline-flex;">
            <div class="card">
                <div class="card-body">
                    <table>
                        <tr>
                            <td class="col-md-3">Data de criação: </td>
                            <td class="col-md-4"><strong>{{ consulta.created_at }}</strong></td>
                            <td class="col-md-1">Operador: </td>
                            <td class="col-md-4"><strong>Manoel Mateus David Simão(teste)</strong></td>
                        </tr>
                        <tr>
                            <td class="col-md-3">Data da ultima atualização: </td>
                            <td class="col-md-4"><strong>{{ consulta.updated_at }}</strong></td>
                            <td class="col-md-1"></td>
                            <td class="col-md-4"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="display: inline-flex;">
            <div class="card col-lg-6" style="max-width: 49%; margin-right: auto;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong>Dados do Paciente</strong>
                    </h3>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Paciente: </td>
                                <td><strong>{{consulta.atendimento.paciente.nome_completo}}</strong></td>
                            </tr>
                            <tr>
                                <td>Data de Nascimento: </td>
                                <td><strong>{{consulta.atendimento.paciente.data_nascimento}}</strong></td>
                            </tr>
                            <tr>
                                <td>Sexo: </td>
                                <td>
                                    {% if consulta.atendimento.paciente.sexo == 'M' %}
                                        <strong>Masculino</strong>
                                    {% elif consulta.atendimento.paciente.sexo == 'F' %}
                                        <strong>Feminino</strong>
                                    {% else %}
                                        <strong>Outros</strong>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'show_paciente' consulta.atendimento.paciente.id %}" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>

            <div class="card col-lg-6" style="max-width: 49%;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong>Dados do Atendimento</strong>
                    </h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Código LIF: </td>
                                <td><strong>{{consulta.atendimento.codigo_lif}}</strong></td>
                            </tr>
                            <tr>
                                <td>LIF: </td>
                                <td><strong>{{consulta.atendimento.lif}}</strong></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'show_atendimento' consulta.atendimento.id %}" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong style="color: #ac1b1a; text-decoration: underline">Dados da Consulta</strong>
                    </h3>

                    <table class="table">
                        <tr>
                            <td>Data consulta:</td>
                            <td><strong>{{consulta.data_consulta}}</strong></td>

                            <td>Procedimento:</td>
                            <td><strong>{{consulta.procedimento}}</strong></td>
                        </tr>
                        <tr>
                            <td>Observação:</td>
                            <td colspan="3"><strong>{%firstof consulta.observacao ''%}</strong></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'update_consulta' consulta.id %}" class="btn btn-primary">Editar dados da consulta</a>
                    {% if not laudos %}
                        {% if consulta.procedimento.tipo_laudo == 'BERA' %}
                            <a style="color: white"  href="{% url 'new_consulta_resultado_bera' consulta.id %}" class="btn btn-primary">Inserir Resultado</a>
                        {% elif consulta.procedimento.tipo_laudo == 'AUDIOMETRIA' %}
                            <a style="color: white"  href="{% url 'new_consulta_resultado_audiometria' consulta.id %}" class="btn btn-primary">Inserir Resultado</a>
                        {% elif consulta.procedimento.tipo_laudo == 'PAC' %}
                            <a style="color: white"  href="{% url 'new_consulta_resultado_pac' consulta.id %}" class="btn btn-primary">Inserir Resultado</a>
                        {% else %}
                            <a style="color: white"  href="{% url 'new_consulta_resultado_padrao' consulta.id %}" class="btn btn-primary">Inserir Resultado</a>
                        {% endif %}
                    {% else %}
                        {% for resultado in laudos%}
                            {% if consulta.procedimento.tipo_laudo == 'BERA' %}
                                <a href="{% url 'show_resultado_bera' resultado.id %}" class="btn btn-primary">Visualizar resultado</a>
                            {% elif consulta.procedimento.tipo_laudo == 'PAC' %}
                                <a href="{% url 'show_resultado_pac' resultado.id %}" class="btn btn-primary">Visualizar resultado</a>
                            {% elif consulta.procedimento.tipo_laudo == 'AUDIOMETRIA' %}
                                <a href="{% url 'show_resultado_audiometria' resultado.id %}" class="btn btn-primary">Visualizar Resultado</a>
                            {% else %}
                                <a href="{% url 'show_resultado_padrao' resultado.id %}" class="btn btn-primary">Visualizar Resultado</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
<script prefer>
    $(function(){
        console.log('zqui')
    })
</script>