{% extends "layouts/base-site.html" %}

{% block title %} Adicionar Atendimento {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="card col-lg-12"> 
            <div class="card-body">
                <h3 class="card-title" style="text-align: center;">
                    <strong>Dados do Paciente</strong>
                </h3>
                
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Paciente: </td>
                            <td><strong>{{paciente.nome_completo}}</strong></td>
                        </tr>
                        <tr>
                            <td>Data de Nascimento: </td>
                            <td><strong>{{paciente.data_nascimento}}<strong></td>
                        </tr>
                        <tr>
                            <td>Sexo: </td>
                            <td>
                                {% if paciente.sexo == 'M' %}
                                    <strong>Masculino</strong>
                                {% elif paciente.sexo == 'F' %}
                                    <strong>Feminino</strong>
                                {% else %}
                                    <strong>Outros</strong>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-lg-12">
            <form method="POST">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>Cadastro de Atendimento</strong></h3>

                    {% csrf_token %}

                    <div class="form-group">
                        <label class="form-label">LIF</label>
                        {% render_field form.lif class="form-control" %}
                    </div>

                    {% if errors %}
                        <div class="alert alert-danger"> {{ errors }} </div>
                    {% endif %}
                </div>

                <div class="card-footer text-center">
                    <a href="{% url 'show_paciente' paciente.id %}" class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
