{% extends "layouts/base-site.html" %}

{% block title %} Editar Paciente {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-lg-12">
            <form class="card" method="POST">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>Paciente</strong></h3>

                    {% csrf_token %}

                    <div class="form-group">
                        <label class="form-label">Nome</label>
                        {% render_field form.nome_completo class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">CPF</label>
                        {% render_field form.cpf class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">RG</label>
                        {% render_field form.rg class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Data Nascimento</label>
                        {% render_field form.data_nascimento class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Sexo</label>
                        {% render_field form.sexo class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Tem Responsavel</label>
                        {% render_field form.tem_responsavel class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Nome Responsavel</label>
                        {% render_field form.nome_responsavel class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">RG Responsavel</label>
                        {% render_field form.rg_responsavel class="form-control" %}
                    </div>
                    
                    <h3 class="card-title" style="text-align: center;">
                        <strong>Atendimentos</strong>
                        <a style="color: white;" href={% url 'new_paciente_atendimento' paciente.id %} class="btn btn-success">
                            <span class="fa fa-plus"></span>
                        </a>
                    </h3>

                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código LIF</th>
                                    <th>LIF</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for atendimento in atendimentos %}
                                <tr style="height: 10px">
                                    <td>{{ atendimento.id }}</td>
                                    <td>{{ atendimento.codigo_lif }}</td>
                                    <td>{{ atendimento.lif }}</td>
                                    <td style="text-align: center;">
                                        <a style="color: white;" href={% url 'new_atendimento_consulta' atendimento.id %} class="btn btn-success">
                                            Adicionar Consulta
                                        </a>
                                        <a href={% url 'update_atendimento' atendimento.id %} class="btn btn-primary">Visualizar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <h3 class="card-title" style="text-align: center;"><strong>Consultas</strong></h3>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data consulta</th>
                                    <th>Código LIF</th>
                                    <th>Procedimento</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consulta in consultas %}
                                <tr style="height: 10px">
                                    <td> {{ consulta.id }} </td>
                                    <td> {{ consulta.data_consulta }} </td>
                                    <td> {{ consulta.atendimento.codigo_lif }} </td>
                                    <td> {{ consulta.procedimento }} </td>
                                    <td align="center">
                                        <a href={% url 'update_consulta' consulta.id %} class="btn btn-primary">Visualizar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href={% url 'index_pacientes' %} class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-success">Atualizar</button>
                </div>
                <script>
                    require(['datatables', 'jquery'], function (datatable, $) {
                        $('.datatable').DataTable();
                    });
                </script>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
