{% extends "layouts/base-site.html" %}

{% block title %} Editar Paciente {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-lg-12">
            <form class="card" method="POST">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>Paciente</strong></h3>

                    {% csrf_token %}

                    <div class="form-group">
                        <label class="form-label">Nome</label>
                        {% render_field form.nome_completo class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">CPF</label>
                        {% render_field form.cpf class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">RG</label>
                        {% render_field form.rg class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Data Nascimento</label>
                        {% render_field form.data_nascimento class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Sexo</label>
                        {% render_field form.sexo class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Tem Responsavel</label>
                        {% render_field form.tem_responsavel class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Nome Responsavel</label>
                        {% render_field form.nome_responsavel class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">RG Responsavel</label>
                        {% render_field form.rg_responsavel class="form-control" %}
                    </div>

                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'show_paciente' paciente.id %}" class="btn btn-primary">Voltar</a>
                    <button type="submit" class="btn btn-success">Atualizar</button>
                    <a href="{% url 'delete_paciente' paciente.id %}" class="btn btn-danger">Deletar</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    require(['jquery', 'datatables'], function ($, datatable) {
        $(document).ready(function () {

            function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }

            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            if (!getCookie('bottombar-hidden')) {
                $('.js-bottombar').show();
            }

            $('.js-bottombar-close').on('click', function (e) {
                $('.js-bottombar').hide();
                setCookie('bottombar-hidden', 1, 7);

                e.preventDefault();
                return false;
            });

            $('.datatable').DataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    },
                    "buttons": {
                        "copy": "Copiar para a área de transferência",
                        "copyTitle": "Cópia bem sucedida",
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        }
                    }
                },
                "order": [[0, "desc"]]
            });
        });
    });
</script>
{% endblock javascripts %}
