{% extends "layouts/base-site.html" %}

{% block title %} Detalhes do Paciente {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong style="color: #ac1b1a; text-decoration: underline">Dados do Paciente</strong>
                    </h3>
                    <section style="display: inline-flex; width: 100%;">
                        {% if paciente.tem_responsavel%}
                            <div class="col-lg-6" style="max-width: 49%; margin-right: auto;">
                        {% endif %}

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Paciente: </td>
                                    <td><strong>{{paciente.nome_completo}}</strong></td>
                                </tr>
                                <tr>
                                    <td>CPF: </td>
                                    <td><strong>{{paciente.cpf}}</strong></td>
                                </tr>
                                <tr>
                                    <td>RG: </td>
                                    <td><strong>{{paciente.rg}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Data de Nascimento: </td>
                                    <td><strong>{{paciente.data_nascimento}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Sexo: </td>
                                    <td>
                                        {% if paciente.sexo == 'M' %}
                                            <strong>Masculino</strong>
                                        {% elif paciente.sexo == 'F' %}
                                            <strong>Feminino</strong>
                                        {% else %}
                                            <strong>Outros</strong>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        {% if paciente.tem_responsavel%}
                            </div>
                        {% endif %}

                        {% if paciente.tem_responsavel %}
                            <div class="col-lg-6" style="max-width: 49%;">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Resposánvel: </td>
                                            <td><strong>{{paciente.nome_responsavel}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>RG do Responsável: </td>
                                            <td><strong>{{paciente.rg_responsavel}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </section>
                    <div class="card-footer text-center">
                        <a style="color: white" href="{% url 'update_paciente' paciente.id %}" class="btn btn-primary">Editar dados do paciente</span></a>
                        <a href="{% url 'delete_paciente' paciente.id %}" class="btn btn-danger">Deletar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong>Atendimentos</strong>
                    </h3>

                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Código LIF</th>
                                    <th>LIF</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for atendimento in atendimentos %}
                                <tr style="height: 10px">
                                    <td>{{ atendimento.id }}</td>
                                    <td>{{ atendimento.codigo_lif }}</td>
                                    <td>{{ atendimento.lif }}</td>
                                    <td style="text-align: center;">
                                        <a href="{% url 'show_atendimento' atendimento.id %}" class="btn btn-primary">Visualizar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer text-center">
                        <a style="color: white;" href="{% url 'new_paciente_atendimento' paciente.id %}" class="btn btn-success">
                            Adicionar novo atendimento
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>Consultas</strong></h3>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data consulta</th>
                                    <th>Código LIF</th>
                                    <th>Procedimento</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consulta in consultas %}
                                <tr style="height: 10px">
                                    <td> {{ consulta.id }} </td>
                                    <td> {{ consulta.data_consulta }} </td>
                                    <td> {{ consulta.atendimento.codigo_lif }} </td>
                                    <td> {{ consulta.procedimento }} </td>
                                    <td align="center">
                                        <a href="{% url 'show_consulta' consulta.id %}" class="btn btn-primary">Visualizar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    require(['jquery', 'datatables'], function ($, datatable) {
        $(document).ready(function () {

            function setCookie(name, value, days) {
                var expires = "";
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "") + expires + "; path=/";
            }

            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }

            if (!getCookie('bottombar-hidden')) {
                $('.js-bottombar').show();
            }

            $('.js-bottombar-close').on('click', function (e) {
                $('.js-bottombar').hide();
                setCookie('bottombar-hidden', 1, 7);

                e.preventDefault();
                return false;
            });

            $('.datatable').DataTable({
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    },
                    "select": {
                        "rows": {
                            "_": "Selecionado %d linhas",
                            "0": "Nenhuma linha selecionada",
                            "1": "Selecionado 1 linha"
                        }
                    },
                    "buttons": {
                        "copy": "Copiar para a área de transferência",
                        "copyTitle": "Cópia bem sucedida",
                        "copySuccess": {
                            "1": "Uma linha copiada com sucesso",
                            "_": "%d linhas copiadas com sucesso"
                        }
                    }
                },
                "order": [[0, "desc"]]
            });
        });
    });
</script>
{% endblock javascripts %}
