<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <!-- LABORATÓRIOS -->
                    <li class="nav-item">
                        <a href={% url 'index_lifs' %} class="nav-link"><i class="fa fa-flask"></i>LIF's</a>
                    </li>
                    <!-- PROCEDIMENTOS -->
                    <li class="nav-item">
                        <a href="/" class="nav-link"><i class="fa fa-procedures"></i>Procedimentos</a>
                    </li>

                    <!-- ATENDIMENTOS -->
                    <li class="nav-item">
                        <a href="/" class="nav-link"><i class="fa fa-stethoscope"></i> Atendimentos</a>
                    </li>
                    <!-- PACIENTES -->
                    <li class="nav-item">
                        <a href={% url 'index_pacientes' %} class="nav-link"><i class="fa fa-users"></i> Pacientes</a>
                    </li>
                    <!-- PERFIL -->
                    <li class="nav-item">
                        <a href='/' class="nav-link"><i class="fa fa-id-badge"></i> Perfil</a>
                    </li>

                    <li class="nav-item">
                        <a href={% url 'logout' %} class="nav-link"> <i class= "fe fe-log-out"></i> Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
