{% url 'index_lifs' as lifs %}
{% url 'index_cids' as cids %}
{% url 'index_procedimentos' as procedimentos %}
{% url 'index_atendimentos' as atendimentos %}
{% url 'index_consultas' as consultas %}
{% url 'index_pacientes' as pacientes %}


<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <!-- LABORATÓRIOS -->
                    {% if perms.app.view_lif %}
                        <li class="nav-item">
                            <a href="{{ lifs }}" class="nav-link {% if request.path == lifs %} active {% endif %}"><i class="fa fa-flask"></i>LIF's</a>
                        </li>
                    {% endif %}
                    <!-- CIDS -->
                    {% if perms.app.view_cid %}
                        <li class="nav-item">
                            <a href="{{ cids }}" class="nav-link {% if request.path == cids %} active {% endif %} "><i class="fa fa-book-medical"></i>CID's</a>
                        </li>
                    {% endif %}
                    <!-- PROCEDIMENTOS -->
                    {% if perms.app.view_procedimento %}
                        <li class="nav-item">
                            <a href="{{ procedimentos }}" class="nav-link {% if request.path == procedimentos %} active {% endif %} "><i class="fa fa-procedures"></i>Procedimentos</a>
                        </li>
                    {% endif %}
                    <!-- ATENDIMENTOS -->
                    {% if perms.app.view_atendimento %}
                        <li class="nav-item">
                            <a href="{{ atendimentos }}" class="nav-link  {% if request.path == atendimentos %} active {% endif %}"><i class="fa fa-id-card-alt"></i>Atendimentos</a>
                        </li>
                    {% endif %}
                    <!-- CONSULTAS -->
                    {% if perms.app.view_consulta %}
                        <li class="nav-item">
                            <a href="{{ consultas }}" class="nav-link {% if request.path == consultas %} active {% endif %}"><i class="fa fa-stethoscope"></i>Consultas</a>
                        </li>
                    {% endif %}
                    <!-- PACIENTES -->
                    {% if perms.app.view_paciente %}
                        <li class="nav-item">
                            <a href="{{ pacientes }}" class="nav-link {% if request.path == pacientes %} active {% endif %}"><i class="fa fa-users"></i>Pacientes</a>
                        </li>
                    {% endif %}
                    <!-- PERFIL -->
<!--                    <li class="nav-item">-->
<!--                        <a href='/' class="nav-link"><i class="fa fa-id-badge"></i>Perfil</a>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->

<!--                        <a href='/' class="nav-link"><i class="fa fa-file-medical-alt"></i>Relatórios</a>-->
<!--                    </li>-->

                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link"> <i class= "fe fe-log-out"></i>Sair</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
