{% extends "layouts/base-site.html" %}

{% block title %} Listagem de Atendimentos {% endblock %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="col-lg order-lg-first">
                    <h1 class="card-title">
                        Listagem de Atendimentos
                    </h1>
                </div>
                <a href="{% url 'new_atendimento' %}" class="btn btn-success"><span class="fa fa-plus"></span> Adicionar novo atendimento</a>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código LIF</th>
                            <th>Paciente</th>
                            <th>Lif</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for atendimento in atendimentos %}
                        <tr style="height: 10px">
                            <td> {{ atendimento.id }} </td>
                            <td> {{ atendimento.codigo_lif }} </td>
                            <td> {{ atendimento.paciente }} </td>
                            <td> {{ atendimento.lif }} </td>
                            <td align="center">
                                <a href="{% url 'show_atendimento' atendimento.id %}" class="btn btn-primary">Visualizar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
