{% extends "layouts/base-site.html" %}

{% block title %} Atualizar Laudo Bera {% endblock %}

{% block content %}
{% load widget_tweaks %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="col-lg-12" style="display: inline-flex;">
            <div class="card col-lg-4" style="max-width: 33%; margin-right: auto;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong>Dados do Paciente</strong>
                    </h3>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Paciente: </td>
                                <td><strong>{{consulta.atendimento.paciente.nome_completo}}</strong></td>
                            </tr>
                            <tr>
                                <td>Data de Nascimento: </td>
                                <td><strong>{{consulta.atendimento.paciente.data_nascimento}}</strong></td>
                            </tr>
                            <tr>
                                <td>Sexo: </td>
                                <td>
                                    {% if consulta.atendimento.paciente.sexo == 'M' %}
                                        <strong>Masculino</strong>
                                    {% elif consulta.atendimento.paciente.sexo == 'F' %}
                                        <strong>Feminino</strong>
                                    {% else %}
                                        <strong>Outros</strong>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'show_paciente' consulta.atendimento.paciente.id %}" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>

            <div class="card col-lg-4" style="max-width: 33%; margin-right: auto;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong>Dados do Atendimento</strong>
                    </h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Código LIF: </td>
                                <td><strong>{{consulta.atendimento.codigo_lif}}</strong></td>
                            </tr>
                            <tr>
                                <td>LIF: </td>
                                <td><strong>{{consulta.atendimento.lif}}</strong></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'show_atendimento' consulta.atendimento.id %}" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>

            <div class="card col-lg-4" style="max-width: 33%;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>Dados da Consulta</strong></h3>

                    <table class="table">
                        <tr>
                            <td>Data consulta:</td>
                            <td><strong>{{consulta.data_consulta}}</strong></td>
                        </tr>
                        <tr>
                            <td>Procedimento:</td>
                            <td><strong>{{consulta.procedimento}}</strong></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'show_consulta' consulta.id %}" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <form class="card" method="POST">
                <div class="card-body">

                    {% csrf_token %}
                    
                    <div class="col-lg-12">
                        <table class="table table-hover table-striped">
                            <colgroup>
                                <col>
                                <col span="2" style="background-color:rgba(0, 0, 0, 0.02);">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="2" style="text-align: center;"><h3>Orelha Direita</h3></th>
                                    <th colspan="2" style="text-align: center;"><h3>Orelha Esquerda</h3></th>
                                </tr>
                                <tr>
                                    <th>Picos</th>
                                    <th style="text-align: center;">Latência Absoluta</th>
                                    <th style="text-align: center;">Inter-latências</th>

                                    <th style="text-align: center;">Latência Absoluta</th>
                                    <th style="text-align: center;">Inter-latências</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>I</td>
                                    <td>
                                        {% render_field form.direito_picos_latencia_absoluta_I class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.direito_picos_inter_latencias_I class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_latencia_absoluta_I class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_inter_latencias_I class="form-control" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>III</td>
                                    <td>
                                        {% render_field form.direito_picos_latencia_absoluta_III class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.direito_picos_inter_latencias_III class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_latencia_absoluta_III class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_inter_latencias_III class="form-control" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>V</td>
                                    <td>
                                        {% render_field form.direito_picos_latencia_absoluta_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.direito_picos_inter_latencias_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_latencia_absoluta_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_inter_latencias_V class="form-control" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Intepicos</td>
                                    <td>
                                        {% render_field form.direito_picos_latencia_absoluta_interpicos class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.direito_picos_inter_latencias_interpicos class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_latencia_absoluta_interpicos class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_inter_latencias_interpicos class="form-control" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>I-III</td>
                                    <td>
                                        {% render_field form.direito_picos_latencia_absoluta_I_III class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.direito_picos_inter_latencias_I_III class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_latencia_absoluta_I_III class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_inter_latencias_I_III class="form-control" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>I-V</td>
                                    <td>
                                        {% render_field form.direito_picos_latencia_absoluta_I_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.direito_picos_inter_latencias_I_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_latencia_absoluta_I_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_inter_latencias_I_V class="form-control" %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>III-V</td>
                                    <td>
                                        {% render_field form.direito_picos_latencia_absoluta_III_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.direito_picos_inter_latencias_III_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_latencia_absoluta_III_V class="form-control" %}
                                    </td>
                                    <td>
                                        {% render_field form.esquerdo_picos_inter_latencias_III_V class="form-control" %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">Evolução</label>
                        {% render_field form.evolucao class="form-control" %}
                    </div>

                    <div class="form-group">
                        <label class="form-label">Conclusão</label>
                        {% render_field form.conclusao_exame class="form-control" %}
                    </div>
                    
                    <div class="card-footer text-center">
                        <a href="{% url 'show_resultado_bera' resultadobera.id %}" class="btn btn-primary">Voltar</a>
                        <button type="submit" class="btn btn-success">Atualizar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
<script prefer>
    $(function(){
        console.log('zqui')
    })
</script>