{% extends "layouts/base-site-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="row">
    <div class="col col-login mx-auto">

        <form class="card" action="" method="post">

            {% csrf_token %}

            <div class="card-body p-6">

        <div class="card-title text-center">

            Entre com suas credenciais ou
            <br />
            <a href={% url 'register' %} >crie um usuário agora</a>
        </div>


                <div class="form-group">
                    <label class="form-label">Usuário (Número USP)</label>
                    {{ form.username }}
                </div>

                <br />

                <div class="form-group">
                    <label class="form-label">
                        Senha
                    </label>
                    {{ form.password }}
                </div>

                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label">Lembre-me</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" name="login" class="btn btn-primary btn-block">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
