{% extends "layouts/base-site-fullscreen.html" %}

{% block title %} Register {% endblock %}

{% block content %}

    <div class="row">
      <div class="col col-login mx-auto">
        <div class="text-center mb-6">
          <img src="/static/assets/demo/brand/tabler.svg" class="h-6" alt="">
        </div>

        {% if success %}

          <div class="card-body p-6">
            <div class="card-title text-center">

              <p class="text-center">
                Usuário criado!
                <h1> {{ msg }} </h1>
                <br />
                Por favor <strong><a href={% url 'login' %}>faça login</a></strong>
              </p>

            </div>
          </div>

        {% else %}

          <form class="card" action="" method="post">

            {% csrf_token %}

            <div class="card-body p-6">
              <div class="card-title text-center">

                {% if msg %}
                  {{ msg | safe }}
                {% else %}
                  Já tem cadastro?
                  <br / >
                  <strong><a href={% url 'login' %} >Faça login</a></strong>
                {% endif %}

              </div>


              <div class="form-group">
                <label class="form-label">Nome completo</label>
                {{ form.last_name }}
              </div>
              <span class="text-danger">{{ form.last_name.errors }}</span>

              <br />

              <div class="form-group">
                <label class="form-label">Usuário (Número USP)</label>
                {{ form.username }}
              </div>
              <span class="text-danger">{{ form.username.errors }}</span>

              <br />

              <div class="form-group">
                <label class="form-label">Email</label>
                {{ form.email }}
              </div>
              <span class="text-danger">{{ form.email.errors }}</span>

              <br />



              <div class="form-group">
                <label class="form-label">
                  Senha
                </label>
                {{ form.password1 }}
              </div>
              <span class="text-danger">{{ form.password1.errors }}</span>

              <br />

              <div class="form-group">
                <label class="form-label">
                  Confirmação de senha
                </label>
                {{ form.password2 }}
              </div>
              <span class="text-danger">{{ form.password2.errors }}</span>

              <br />


              <div class="form-footer">
                <button type="submit" name="register" class="btn btn-primary btn-block">Cadastrar</button>
              </div>
            </div>

          </form>

        {% endif %}


      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
