{% extends "layouts/base-site.html" %}

{% block title %} Relatório de consultas por CID {% endblock %}

{% block content %}

<div class="my-3 my-md-5">

    <div class="container">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;">
                        <strong>Relatório de consultas por CID</strong>
                    </h3>
                    <form action="" id="filtrar" method="POST">

                        {%csrf_token%}

                        <input type="hidden" name="pdf" value="0">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-lg-2"><label for="data_inicial">Data inicial</label></th>
                                    <th class="col-lg-2"><label for="data_final">Data Final</label></th>
                                    <th><label for="cids">CID(s)</label></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="date" class="form-control" id="data_inicial" name="data_inicial" value="{{data_inicial}}" required></td>
                                    <td><input type="date" class="form-control" id="data_final" name="data_final" value="{{data_final}}"required></td>
                                    <td>
                                        <select name="cids" id="cids" class="select2 form-control" multiple>
                                            {% for cid in cids %}
                                                {% if cid.codigo_cid in cids_selecionados%}
                                                    <option value="{{cid.codigo_cid}}" selected>{{cid.codigo_cid}}</option>
                                                {% else %}
                                                    <option value="{{cid.codigo_cid}}">{{cid.codigo_cid}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>                                      
                                        <input type="submit" class="btn btn-info" value="Filtrar" id="gerar_relatorio">

                                        <input type="submit" class="btn btn-warning" value="Gerar PDF" id="gerar_pdf">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- <div class="col-lg-12"> -->
                        <table class="table table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th class="col-lg-1">Data consulta</th>
                                    <th>Paciente</th>
                                    <th>Codigo LIF</th>
                                    <th>LIF</th>
                                    <th>Procedimento</th>
                                    <th>Codigo CID</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="listagem">
                                {% for consulta in consultas %}
                                    <tr>
                                        <td>{{consulta.data}}</td>
                                        <td>{{consulta.paciente}}</td>
                                        <td>{{consulta.codigo_lif}}</td>
                                        <td>{{consulta.lif}}</td>
                                        <td>{{consulta.procedimento}}</td>
                                        <td>{{consulta.codigo_cid}}</td>
                                        <td><a href="{{consulta.url}}" target="blank" class="btn btn-primary">Ver resultado</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    require(['jquery'], function($) {
        $(function() {

            $('#gerar_pdf').on('click', function(e) {
                $('input:hidden[name="pdf"]').val('1');
                $('input:hidden[name="excel"]').val('0');
            });

            $('#gerar_excel').on('click', function(e) {
                $('input:hidden[name="pdf"]').val('0');
                $('input:hidden[name="excel"]').val('1');
            });

            $('#gerar_relatorio').on('click', function(e) {
                $('input:hidden[name="pdf"]').val('0');
                $('input:hidden[name="excel"]').val('0');
            });

        });
    });
</script>
{% endblock javascripts %}
